# Dependencies
node_modules/

# Production
dist/
build/
coverage/

# IDE / Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.swp
*.swo

# OS files
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env*
!.env.example

# Capacitor / Android Specifics (Ignoring ONLY builds)
android/.gradle
android/build
android/app/build
android/local.properties
android/captures
android/.navigation
android/app/src/main/assets/public
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/src/main/res/xml/config.xml

# Firebase
.firebase/
firestore-debug.log
firebasestorage-debug.log
firebase-debug.log
ui-debug.log
